@keyframes image-cmp-search__loading-indicator-spin { 0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
 }

@keyframes image-cmp-search__loading-indicator-spin { 0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
 }

@media print { *,::after,::before { text-shadow:none !important;box-shadow:none !important }

.image-abbr[title]::after {  content:" (" attr(title) ")"  }

.image-pre {  white-space:pre-wrap !important  }

.image-blockquote, .image-pre {  border:1px solid #adb5bd;page-break-inside:avoid  }

.image-img, .image-tr {  page-break-inside:avoid  }

.image-h2, .image-h3, p {  orphans:3;widows:3  }

.image-h2, h3 {  page-break-after:avoid  }

@page{size:a3}

.image-body { min-width:992px !important } }

.image-header-logo-div {  display:flex;flex-direction:row;gap:20px;align-items:center;@media(max-width:767.98px){gap:10px}
& a{padding-top:14px;@media(max-width:767.98px){padding-top:0}
& .itc-logo-image{width:auto;height:63px;object-fit:contain;padding-left:0;border-right:1px solid var(--bg-dark);padding-right:20px;@media(max-width:1200px){height:47px}
@media(max-width:767.98px){width:60px;padding-right:0}
}
& .cmp-image__image{padding-left:0}
}
  }

@keyframes image-cmp-search__loading-indicator-spin {  
  100% { transform: rotate(360deg); }
 }

@keyframes image-cmp-search__loading-indicator-spin {  
  100% { transform: rotate(360deg); }
 }

@media print { *, ::after, ::before {  text-shadow: none !important; box-shadow: none !important;  }

.image-abbr[title]::after {   content: " (" attr(title) ")";   }

.image-pre {   white-space: pre-wrap !important;   }

.image-blockquote, .image-pre {   border: 1px solid rgb(173, 181, 189); break-inside: avoid;   }

.image-img, .image-tr {   break-inside: avoid;   }

.image-h2, .image-h3, p {   orphans: 3; widows: 3;   }

.image-h2, h3 {   break-after: avoid;   }

@page { size: a3; }

.image-body {  min-width: 992px !important;  } }

.image-header-logo-div {  
  display: flex; flex-direction: row; gap: 20px; align-items: center;
  @media (max-width: 767.98px) {
  gap: 10px;
}
  & a {
  padding-top: 14px;
  @media (max-width: 767.98px) {
  padding-top: 0px;
}
  & .itc-logo-image {
  width: auto; height: 63px; object-fit: contain; padding-left: 0px; border-right: 1px solid var(--bg-dark); padding-right: 20px;
  @media (max-width: 1200px) {
  height: 47px;
}
  @media (max-width: 767.98px) {
  width: 60px; padding-right: 0px;
}
}
  & .cmp-image__image { padding-left: 0px; }
}
  }

/* Computed styles: div#logo-5a4887d867.cmp-image header-logo-div */
@media (min-width: 1200px) { div#logo-5a4887d867.image-cmp-image .image-header-logo-div { 
    align-items: center;
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 90px;
    border-block-end-color: rgb(45, 33, 25);
    border-block-start-color: rgb(45, 33, 25);
    border-bottom-color: rgb(45, 33, 25);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(45, 33, 25);
    border-inline-start-color: rgb(45, 33, 25);
    border-left-color: rgb(45, 33, 25);
    border-right-color: rgb(45, 33, 25);
    border-top-color: rgb(45, 33, 25);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(45, 33, 25);
    clip-rule: nonzero;
    color: rgb(45, 33, 25);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-gap: 20px;
    column-rule-color: rgb(45, 33, 25);
    direction: ltr;
    display: flex;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 90px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 232.047px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(45, 33, 25);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 116.016px 45px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    row-gap: 20px;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(45, 33, 25);
    text-decoration-color: rgb(45, 33, 25);
    text-decoration-style: solid;
    text-emphasis-color: rgb(45, 33, 25);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 116.023px 45px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 232.047px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(45, 33, 25);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(45, 33, 25);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: a.checkLogoLink */
@media (min-width: 1200px) { a.image-checkLogoLink { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 82px;
    border-block-end-color: rgb(83, 48, 18);
    border-block-start-color: rgb(83, 48, 18);
    border-bottom-color: rgb(83, 48, 18);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(83, 48, 18);
    border-inline-start-color: rgb(83, 48, 18);
    border-left-color: rgb(83, 48, 18);
    border-right-color: rgb(83, 48, 18);
    border-top-color: rgb(83, 48, 18);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(83, 48, 18);
    clip-rule: nonzero;
    color: rgb(83, 48, 18);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(83, 48, 18);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 82px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 81.0469px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(83, 48, 18);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-end: 5px;
    padding-block-start: 14px;
    padding-bottom: 5px;
    padding-top: 14px;
    perspective-origin: 40.5156px 41px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(83, 48, 18);
    text-decoration-color: rgb(83, 48, 18);
    text-decoration-style: solid;
    text-emphasis-color: rgb(83, 48, 18);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 40.5234px 41px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 81.0469px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(83, 48, 18);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(83, 48, 18);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: img.cmp-image__image itc-logo-image */
@media (min-width: 1200px) { img.image-cmp-image__image .image-itc-logo-image { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 63px;
    border-block-end-color: rgb(83, 48, 18);
    border-block-start-color: rgb(83, 48, 18);
    border-bottom-color: rgb(83, 48, 18);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(45, 33, 25);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(83, 48, 18);
    border-left-color: rgb(83, 48, 18);
    border-right-color: rgb(45, 33, 25);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(83, 48, 18);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(83, 48, 18);
    clip-rule: nonzero;
    color: rgb(83, 48, 18);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(83, 48, 18);
    direction: ltr;
    display: inline;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 63px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 81.0469px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: contain;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(83, 48, 18);
    overflow-block: clip;
    overflow-clip-margin: content-box;
    overflow-inline: clip;
    overflow-x: clip;
    overflow-y: clip;
    padding-inline-end: 20px;
    padding-right: 20px;
    perspective-origin: 40.5156px 31.5px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(83, 48, 18);
    text-decoration-color: rgb(83, 48, 18);
    text-decoration-style: solid;
    text-emphasis-color: rgb(83, 48, 18);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 40.5234px 31.5px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: middle;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 81.0469px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(83, 48, 18);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(83, 48, 18);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: a.cmp-image__link */
@media (min-width: 1200px) { a.image-cmp-image__link { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 90px;
    border-block-end-color: rgb(83, 48, 18);
    border-block-start-color: rgb(83, 48, 18);
    border-bottom-color: rgb(83, 48, 18);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(83, 48, 18);
    border-inline-start-color: rgb(83, 48, 18);
    border-left-color: rgb(83, 48, 18);
    border-right-color: rgb(83, 48, 18);
    border-top-color: rgb(83, 48, 18);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(83, 48, 18);
    clip-rule: nonzero;
    color: rgb(83, 48, 18);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(83, 48, 18);
    cursor: pointer;
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 90px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 131px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(83, 48, 18);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-end: 5px;
    padding-block-start: 14px;
    padding-bottom: 5px;
    padding-top: 14px;
    perspective-origin: 65.5px 45px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(83, 48, 18);
    text-decoration-color: rgb(83, 48, 18);
    text-decoration-style: solid;
    text-emphasis-color: rgb(83, 48, 18);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 65.5px 45px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 131px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(83, 48, 18);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(83, 48, 18);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: img.cmp-image__image */
@media (min-width: 1200px) { img.image-cmp-image__image { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 71px;
    border-block-end-color: rgb(83, 48, 18);
    border-block-start-color: rgb(83, 48, 18);
    border-bottom-color: rgb(83, 48, 18);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(83, 48, 18);
    border-inline-start-color: rgb(83, 48, 18);
    border-left-color: rgb(83, 48, 18);
    border-right-color: rgb(83, 48, 18);
    border-top-color: rgb(83, 48, 18);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(83, 48, 18);
    clip-rule: nonzero;
    color: rgb(83, 48, 18);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(83, 48, 18);
    cursor: pointer;
    direction: ltr;
    display: inline;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 71px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 131px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(83, 48, 18);
    overflow-block: clip;
    overflow-clip-margin: content-box;
    overflow-inline: clip;
    overflow-x: clip;
    overflow-y: clip;
    perspective-origin: 65.5px 35.5px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(83, 48, 18);
    text-decoration-color: rgb(83, 48, 18);
    text-decoration-style: solid;
    text-emphasis-color: rgb(83, 48, 18);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 65.5px 35.5px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: middle;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 131px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(83, 48, 18);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(83, 48, 18);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: div#logo-ed7b4b135d.cmp-image header-logo-div */
@media (min-width: 1200px) { div#logo-ed7b4b135d.image-cmp-image .image-header-logo-div { 
    align-items: center;
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 228.828px;
    border-block-end-color: rgb(45, 33, 25);
    border-block-start-color: rgb(45, 33, 25);
    border-bottom-color: rgb(45, 33, 25);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(45, 33, 25);
    border-inline-start-color: rgb(45, 33, 25);
    border-left-color: rgb(45, 33, 25);
    border-right-color: rgb(45, 33, 25);
    border-top-color: rgb(45, 33, 25);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(45, 33, 25);
    clip-rule: nonzero;
    color: rgb(45, 33, 25);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-gap: 20px;
    column-rule-color: rgb(45, 33, 25);
    direction: ltr;
    display: flex;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 228.828px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 200px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(45, 33, 25);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 100px 114.406px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    row-gap: 20px;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(45, 33, 25);
    text-decoration-color: rgb(45, 33, 25);
    text-decoration-style: solid;
    text-emphasis-color: rgb(45, 33, 25);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 100px 114.414px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 200px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(45, 33, 25);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(45, 33, 25);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: a.cmp-image__link */
@media (min-width: 1200px) { a.image-cmp-image__link { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 228.828px;
    border-block-end-color: rgb(252, 238, 217);
    border-block-start-color: rgb(252, 238, 217);
    border-bottom-color: rgb(252, 238, 217);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(252, 238, 217);
    border-inline-start-color: rgb(252, 238, 217);
    border-left-color: rgb(252, 238, 217);
    border-right-color: rgb(252, 238, 217);
    border-top-color: rgb(252, 238, 217);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(252, 238, 217);
    clip-rule: nonzero;
    color: rgb(252, 238, 217);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(252, 238, 217);
    cursor: pointer;
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 228.828px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 180px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(252, 238, 217);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-start: 14px;
    padding-top: 14px;
    perspective-origin: 90px 114.406px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(252, 238, 217);
    text-decoration-color: rgb(252, 238, 217);
    text-decoration-style: solid;
    text-emphasis-color: rgb(252, 238, 217);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: nowrap;
    transform-origin: 90px 114.414px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 180px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(252, 238, 217);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(252, 238, 217);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: img.cmp-image__image */
@media (min-width: 1200px) { img.image-cmp-image__image { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 214.828px;
    border-block-end-color: rgb(252, 238, 217);
    border-block-start-color: rgb(252, 238, 217);
    border-bottom-color: rgb(252, 238, 217);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(252, 238, 217);
    border-inline-start-color: rgb(252, 238, 217);
    border-left-color: rgb(252, 238, 217);
    border-right-color: rgb(252, 238, 217);
    border-top-color: rgb(252, 238, 217);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(252, 238, 217);
    clip-rule: nonzero;
    color: rgb(252, 238, 217);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(252, 238, 217);
    cursor: pointer;
    direction: ltr;
    display: inline;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 214.828px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 180px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(252, 238, 217);
    overflow-block: clip;
    overflow-clip-margin: content-box;
    overflow-inline: clip;
    overflow-x: clip;
    overflow-y: clip;
    perspective-origin: 90px 107.406px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(252, 238, 217);
    text-decoration-color: rgb(252, 238, 217);
    text-decoration-style: solid;
    text-emphasis-color: rgb(252, 238, 217);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: nowrap;
    transform-origin: 90px 107.414px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: middle;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 180px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(252, 238, 217);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(252, 238, 217);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: div#logo-f7278b4518.cmp-image header-logo-div */
@media (min-width: 1200px) { div#logo-f7278b4518.image-cmp-image .image-header-logo-div { 
    align-items: center;
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 69px;
    border-block-end-color: rgb(45, 33, 25);
    border-block-start-color: rgb(45, 33, 25);
    border-bottom-color: rgb(45, 33, 25);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(45, 33, 25);
    border-inline-start-color: rgb(45, 33, 25);
    border-left-color: rgb(45, 33, 25);
    border-right-color: rgb(45, 33, 25);
    border-top-color: rgb(45, 33, 25);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(45, 33, 25);
    clip-rule: nonzero;
    color: rgb(45, 33, 25);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-gap: 20px;
    column-rule-color: rgb(45, 33, 25);
    direction: ltr;
    display: flex;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 69px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 212px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(45, 33, 25);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 106px 34.5px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    row-gap: 20px;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(45, 33, 25);
    text-decoration-color: rgb(45, 33, 25);
    text-decoration-style: solid;
    text-emphasis-color: rgb(45, 33, 25);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 106px 34.5px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 212px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(45, 33, 25);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(45, 33, 25);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: img.cmp-image__image */
@media (min-width: 1200px) { img.image-cmp-image__image { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 69px;
    border-block-end-color: rgb(45, 33, 25);
    border-block-start-color: rgb(45, 33, 25);
    border-bottom-color: rgb(45, 33, 25);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(45, 33, 25);
    border-inline-start-color: rgb(45, 33, 25);
    border-left-color: rgb(45, 33, 25);
    border-right-color: rgb(45, 33, 25);
    border-top-color: rgb(45, 33, 25);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(45, 33, 25);
    clip-rule: nonzero;
    color: rgb(45, 33, 25);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(45, 33, 25);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 69px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 192px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    max-inline-size: 230px;
    max-width: 230px;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(45, 33, 25);
    overflow-block: clip;
    overflow-clip-margin: content-box;
    overflow-inline: clip;
    overflow-x: clip;
    overflow-y: clip;
    perspective-origin: 96px 34.5px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(45, 33, 25);
    text-decoration-color: rgb(45, 33, 25);
    text-decoration-style: solid;
    text-emphasis-color: rgb(45, 33, 25);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 96px 34.5px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: middle;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 192px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(45, 33, 25);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(45, 33, 25);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }