/* Computed styles: section.position-relative mb-15 */
@media (min-width: 1200px) { section.latestblogs-position-relative .latestblogs-mb-15 { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-top-color: rgb(34, 34, 34);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(34, 34, 34);
    clip-rule: nonzero;
    color: rgb(34, 34, 34);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(34, 34, 34);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Barlow;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 540px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    margin-block-end: 56px;
    margin-bottom: 56px;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(34, 34, 34);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 270px 0px;
    position: relative;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(34, 34, 34);
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-style: solid;
    text-emphasis-color: rgb(34, 34, 34);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 270px 0px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 540px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "hi-IN";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: div.position-relative */
@media (min-width: 1200px) { div.latestblogs-position-relative { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 726.484px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-top-color: rgb(34, 34, 34);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(34, 34, 34);
    clip-rule: nonzero;
    color: rgb(34, 34, 34);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(34, 34, 34);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Barlow;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 726.484px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 508px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(34, 34, 34);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 254px 363.234px;
    position: relative;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(34, 34, 34);
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-style: solid;
    text-emphasis-color: rgb(34, 34, 34);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 254px 363.242px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 508px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "hi-IN";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: video.w-100 object-fit-cover banner-media banner-video */
@media (min-width: 1200px) { video.latestblogs-w-100 .latestblogs-object-fit-cover .latestblogs-banner-media .latestblogs-banner-video { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 677.328px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-collapse: separate;
    border-end-end-radius: 8px;
    border-end-start-radius: 8px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-start-end-radius: 8px;
    border-start-start-radius: 8px;
    border-top-color: rgb(34, 34, 34);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(34, 34, 34);
    clip-rule: nonzero;
    color: rgb(34, 34, 34);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(34, 34, 34);
    direction: ltr;
    display: inline;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Barlow;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 677.328px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 506.5px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: cover;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(34, 34, 34);
    overflow-block: clip;
    overflow-clip-margin: content-box;
    overflow-inline: clip;
    overflow-x: clip;
    overflow-y: clip;
    perspective-origin: 253.25px 338.656px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(34, 34, 34);
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-style: solid;
    text-emphasis-color: rgb(34, 34, 34);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 253.25px 338.664px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: middle;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 506.5px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "hi-IN";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: img.w-100 h-100 object-fit-cover banner-media banner-image */
@media (min-width: 1200px) { img.latestblogs-w-100 .latestblogs-h-100 .latestblogs-object-fit-cover .latestblogs-banner-media .latestblogs-banner-image { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 677.328px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-collapse: separate;
    border-end-end-radius: 8px;
    border-end-start-radius: 8px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-start-end-radius: 8px;
    border-start-start-radius: 8px;
    border-top-color: rgb(34, 34, 34);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(34, 34, 34);
    clip-rule: nonzero;
    color: rgb(34, 34, 34);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(34, 34, 34);
    direction: ltr;
    display: inline;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Barlow;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 677.328px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 506.5px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: cover;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(34, 34, 34);
    overflow-block: clip;
    overflow-clip-margin: content-box;
    overflow-inline: clip;
    overflow-x: clip;
    overflow-y: clip;
    perspective-origin: 253.25px 338.656px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(34, 34, 34);
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-style: solid;
    text-emphasis-color: rgb(34, 34, 34);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 253.25px 338.664px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: middle;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 506.5px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "hi-IN";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: div.text-center */
@media (min-width: 1200px) { div.latestblogs-text-center { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 51px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-top-color: rgb(34, 34, 34);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(34, 34, 34);
    clip-rule: nonzero;
    color: rgb(34, 34, 34);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(34, 34, 34);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Barlow;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 51px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 508px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(34, 34, 34);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 254px 25.5px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: center;
    text-anchor: start;
    text-decoration: none solid rgb(34, 34, 34);
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-style: solid;
    text-emphasis-color: rgb(34, 34, 34);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 254px 25.5px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 508px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "hi-IN";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(34, 34, 34);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: a.boing--text__title-3 article_listing--btn analytics_cta_click */
@media (min-width: 1200px) { a.latestblogs-boing--text__title-3 .latestblogs-article_listing--btn .latestblogs-analytics_cta_click { 
    align-items: center;
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(246, 187, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 48px;
    border-block-end-color: rgb(3, 3, 3);
    border-block-start-color: rgb(3, 3, 3);
    border-bottom-color: rgb(3, 3, 3);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-collapse: separate;
    border-end-end-radius: 22px;
    border-end-start-radius: 22px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(3, 3, 3);
    border-inline-start-color: rgb(3, 3, 3);
    border-left-color: rgb(3, 3, 3);
    border-right-color: rgb(3, 3, 3);
    border-start-end-radius: 22px;
    border-start-start-radius: 22px;
    border-top-color: rgb(3, 3, 3);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(3, 3, 3);
    clip-rule: nonzero;
    color: rgb(3, 3, 3);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-gap: 10px;
    column-rule-color: rgb(3, 3, 3);
    cursor: pointer;
    direction: ltr;
    display: flex;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Barlow;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 600;
    grid-auto-flow: row;
    height: 48px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 149px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    margin-inline-end: 179.5px;
    margin-inline-start: 179.5px;
    margin-left: 179.5px;
    margin-right: 179.5px;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(3, 3, 3);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-end: 12px;
    padding-block-start: 12px;
    padding-bottom: 12px;
    padding-inline-end: 22px;
    padding-inline-start: 22px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    perspective-origin: 74.5px 24px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    row-gap: 10px;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: center;
    text-anchor: start;
    text-decoration: none solid rgb(3, 3, 3);
    text-decoration-color: rgb(3, 3, 3);
    text-decoration-style: solid;
    text-emphasis-color: rgb(3, 3, 3);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 74.5px 24px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 149px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: center;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "hi-IN";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(3, 3, 3);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(3, 3, 3);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }