@keyframes logofssai-cmp-search__loading-indicator-spin { 0%{transform:rotate(0deg)}to{transform:rotate(1turn)} }

@keyframes logofssai-cmp-search__loading-indicator-spin {  
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
 }

/* Computed styles: div#logo-7ee16588ac.cmp-image */
@media (min-width: 1200px) { div#logo-7ee16588ac.logofssai-cmp-image { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 40px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 0);
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 0);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 40px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 125px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 0);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 62.5px 20px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 0);
    text-emphasis-position: over;
    text-overflow: clip;
    text-wrap-mode: wrap;
    transform-origin: 62.5px 20px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 125px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: picture.w-100 d-block */
@media (min-width: 1200px) { picture.logofssai-w-100 .logofssai-d-block { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 40px;
    border-block-end-color: rgb(0, 0, 238);
    border-block-start-color: rgb(0, 0, 238);
    border-bottom-color: rgb(0, 0, 238);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 238);
    border-inline-start-color: rgb(0, 0, 238);
    border-left-color: rgb(0, 0, 238);
    border-right-color: rgb(0, 0, 238);
    border-top-color: rgb(0, 0, 238);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 238);
    clip-rule: nonzero;
    color: rgb(0, 0, 238);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 238);
    cursor: pointer;
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 40px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 125px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    max-inline-size: 100%;
    max-width: 100%;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 238);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 62.5px 20px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 238);
    text-decoration-color: rgb(0, 0, 238);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 238);
    text-emphasis-position: over;
    text-overflow: clip;
    text-wrap-mode: wrap;
    transform-origin: 62.5px 20px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 125px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: underline;
    -webkit-text-fill-color: rgb(0, 0, 238);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 238);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: img.cmp-image__image rohan */
@media (min-width: 1200px) { img.logofssai-cmp-image__image .logofssai-rohan { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 40px;
    border-block-end-color: rgb(0, 0, 238);
    border-block-start-color: rgb(0, 0, 238);
    border-bottom-color: rgb(0, 0, 238);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 238);
    border-inline-start-color: rgb(0, 0, 238);
    border-left-color: rgb(0, 0, 238);
    border-right-color: rgb(0, 0, 238);
    border-top-color: rgb(0, 0, 238);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 238);
    clip-rule: nonzero;
    color: rgb(0, 0, 238);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 238);
    cursor: pointer;
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 40px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 125px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    max-inline-size: 100%;
    max-width: 100%;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 238);
    overflow-block: clip;
    overflow-clip-margin: content-box;
    overflow-inline: clip;
    overflow-x: clip;
    overflow-y: clip;
    perspective-origin: 62.5px 20px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 238);
    text-decoration-color: rgb(0, 0, 238);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 238);
    text-emphasis-position: over;
    text-overflow: clip;
    text-wrap-mode: wrap;
    transform-origin: 62.5px 20px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 125px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: underline;
    -webkit-text-fill-color: rgb(0, 0, 238);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 238);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: div#logo-3dcb1103b6.cmp-image */
@media (min-width: 1200px) { div#logo-3dcb1103b6.logofssai-cmp-image { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 78px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 0);
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 0);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 78px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 240px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 0);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 120px 39px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 0);
    text-emphasis-position: over;
    text-overflow: clip;
    text-wrap-mode: wrap;
    transform-origin: 120px 39px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 240px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: picture.w-100 d-block */
@media (min-width: 1200px) { picture.logofssai-w-100 .logofssai-d-block { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 78px;
    border-block-end-color: rgb(0, 0, 238);
    border-block-start-color: rgb(0, 0, 238);
    border-bottom-color: rgb(0, 0, 238);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 238);
    border-inline-start-color: rgb(0, 0, 238);
    border-left-color: rgb(0, 0, 238);
    border-right-color: rgb(0, 0, 238);
    border-top-color: rgb(0, 0, 238);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 238);
    clip-rule: nonzero;
    color: rgb(0, 0, 238);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 238);
    cursor: pointer;
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 78px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 240px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    max-inline-size: 100%;
    max-width: 100%;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 238);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 120px 39px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 238);
    text-decoration-color: rgb(0, 0, 238);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 238);
    text-emphasis-position: over;
    text-overflow: clip;
    text-wrap-mode: wrap;
    transform-origin: 120px 39px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 240px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: underline;
    -webkit-text-fill-color: rgb(0, 0, 238);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 238);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: img.cmp-image__image rohan */
@media (min-width: 1200px) { img.logofssai-cmp-image__image .logofssai-rohan { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 78px;
    border-block-end-color: rgb(0, 0, 238);
    border-block-start-color: rgb(0, 0, 238);
    border-bottom-color: rgb(0, 0, 238);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 238);
    border-inline-start-color: rgb(0, 0, 238);
    border-left-color: rgb(0, 0, 238);
    border-right-color: rgb(0, 0, 238);
    border-top-color: rgb(0, 0, 238);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 238);
    clip-rule: nonzero;
    color: rgb(0, 0, 238);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 238);
    cursor: pointer;
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 78px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 240px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    max-inline-size: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 238);
    overflow-block: clip;
    overflow-clip-margin: content-box;
    overflow-inline: clip;
    overflow-x: clip;
    overflow-y: clip;
    perspective-origin: 120px 39px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 238);
    text-decoration-color: rgb(0, 0, 238);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 238);
    text-emphasis-position: over;
    text-overflow: clip;
    text-wrap-mode: wrap;
    transform-origin: 120px 39px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 240px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-decorations-in-effect: underline;
    -webkit-text-fill-color: rgb(0, 0, 238);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 238);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: div#logo-e5164ea93a.cmp-image */
@media (min-width: 1200px) { div#logo-e5164ea93a.logofssai-cmp-image { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 96.9844px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 0);
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 0);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 96.9844px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 192px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 0);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 96px 48.4844px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 0);
    text-emphasis-position: over;
    text-overflow: clip;
    text-wrap-mode: wrap;
    transform-origin: 96px 48.4922px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 192px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: picture.w-100 d-block */
@media (min-width: 1200px) { picture.logofssai-w-100 .logofssai-d-block { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 76.9844px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 0);
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 0);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 76.9844px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 192px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    max-inline-size: 100%;
    max-width: 100%;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 0);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 96px 38.4844px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 0);
    text-emphasis-position: over;
    text-overflow: clip;
    text-wrap-mode: wrap;
    transform-origin: 96px 38.4922px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 192px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }

/* Computed styles: img.cmp-image__image rohan */
@media (min-width: 1200px) { img.logofssai-cmp-image__image .logofssai-rohan { 
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 76.9844px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 0);
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 0);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 76.9844px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 192px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    margin-block-start: 20px;
    margin-top: 20px;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    max-inline-size: 100%;
    max-width: 100%;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 0);
    overflow-block: clip;
    overflow-clip-margin: content-box;
    overflow-inline: clip;
    overflow-x: clip;
    overflow-y: clip;
    perspective-origin: 96px 38.4844px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 0);
    text-emphasis-position: over;
    text-overflow: clip;
    text-wrap-mode: wrap;
    transform-origin: 96px 38.4922px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 192px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
   } }