.text-and-media-cmp-text-and-media {  
  --text-and-media-spacing: var(--component-spacing-medium);
  background-color: var(--white);
  inline-size: min(100%, var(--grid-max-width));
  padding-inline: var(--grid-padding);
  margin-inline: auto;
  display: grid;
  grid-template: auto/repeat(var(--available-columns, var(--grid-columns, 12)), 1fr);
  grid-column-gap: var(--grid-gap);
  position: relative;
  grid-row-gap: var(--basic-card-layout-row-gap);
  row-gap: var(--basic-card-layout-row-gap);
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
  }

@media (min-width: 1025px) and (max-width: 1920px) { .text-and-media-cmp-text-and-media {  
    padding-left: 0;
    padding-right: 0;
    } }

@media (min-width: 1025px) { .text-and-media-cmp-text-and-media {  
    padding-top: 80px !important;
    } }

@media (max-width: 1024px) and (min-width: 768px) { .text-and-media-cmp-text-and-media {  
    padding-left: 64px;
    padding-right: 64px;
    } }

@media screen and (min-width: 832px) { .text-and-media-cmp-text-and-media {  
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    } }

@media screen and (min-width: 1920px) { .text-and-media-cmp-text-and-media {  
    padding-right: 0;
    padding-left: 0;
    } }

.text-and-media-cmp-text-and-media[is-animated=true] {  
  display: flex;
  font-family: var(--default-font-family);
  padding-top: 0;
  }

.text-and-media-cmp-text-and-media[is-animated=true][data-is-reverse=true] {  
  flex-direction: row-reverse;
  }

@media screen and (max-width: 1023px) { .text-and-media-cmp-text-and-media[is-animated=true] {  
    flex-direction: column;
    padding-bottom: 20px;
    }

.text-and-media-cmp-text-and-media[is-animated=true][data-is-reverse=true] {  
    flex-direction: column-reverse;
    } }

@media screen and (max-width: 768px) { .text-and-media-cmp-text-and-media[is-animated=true] {  
    padding-bottom: 60px;
    } }

@media screen and (max-width: 1023px) { .text-and-media-cmp-text-and-media[is-animated=true][data-is-reverse=true] {  
    flex-direction: column-reverse !important;
    } }

.text-and-media-cmp-text-and-media[is-animated=true] {  
  transform: translateY(100px);
  transition: transform 0.6s ease, opacity 0.6s ease;
  }

.text-and-media-cmp-text-and-media {   --text-and-media-spacing: var(--component-spacing-medium); background-color: var(--white); inline-size: min(100%, var(--grid-max-width)); padding-inline: var(--grid-padding); margin-inline: auto; display: grid; grid-template: auto/repeat(var(--available-columns, var(--grid-columns, 12)), 1fr); column-gap: var(--grid-gap); position: relative; row-gap: var(--basic-card-layout-row-gap); padding-top: 80px; padding-bottom: 80px; margin: 0px auto;   }

@media (min-width: 1025px) and (max-width: 1920px) { .text-and-media-cmp-text-and-media {   padding-left: 0px; padding-right: 0px;   } }

@media (min-width: 1025px) { .text-and-media-cmp-text-and-media {   padding-top: 80px !important;   } }

@media (max-width: 1024px) and (min-width: 768px) { .text-and-media-cmp-text-and-media {   padding-left: 64px; padding-right: 64px;   } }

@media screen and (min-width: 832px) { .text-and-media-cmp-text-and-media {   grid-template-rows: 1fr; grid-auto-flow: column;   } }

@media screen and (min-width: 1920px) { .text-and-media-cmp-text-and-media {   padding-right: 0px; padding-left: 0px;   } }

.text-and-media-cmp-text-and-media[is-animated="true"] {   display: flex; font-family: var(--default-font-family); padding-top: 0px;   }

.text-and-media-cmp-text-and-media[is-animated="true"][data-is-reverse="true"] {   flex-direction: row-reverse;   }

@media screen and (max-width: 1023px) { .text-and-media-cmp-text-and-media[is-animated="true"] {   flex-direction: column; padding-bottom: 20px;   }

.text-and-media-cmp-text-and-media[is-animated="true"][data-is-reverse="true"] {   flex-direction: column-reverse;   } }

@media screen and (max-width: 768px) { .text-and-media-cmp-text-and-media[is-animated="true"] {   padding-bottom: 60px;   } }

@media screen and (max-width: 1023px) { .text-and-media-cmp-text-and-media[is-animated="true"][data-is-reverse="true"] {   flex-direction: column-reverse !important;   } }

.text-and-media-cmp-text-and-media[is-animated="true"] {   transform: translateY(100px); transition: transform 0.6s, opacity 0.6s;   }

/* .text-and-media-Inline .text-and-media-style: .text-and-media-div.text-and-media-cmp-text-and-media */ .text-and-media-div.text-and-media-cmp-text-and-media {   overflow: hidden;   }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-slide-wrap */ @media (min-width: 1200px) {  
  div.slide-wrap {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 416px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(255, 255, 255);
    clip-rule: nonzero;
    color: rgb(255, 255, 255);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(255, 255, 255);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 416px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 1200px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(255, 255, 255);
    overflow-block: hidden;
    overflow-inline: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    perspective-origin: 600px 208px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-emphasis-color: rgb(255, 255, 255);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform-origin: 600px 208px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 1200px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-slide-up */ @media (min-width: 1200px) {  
  div.slide-up {
    animation-composition: replace;
    animation-delay: 0.2s;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: slideUp;
    animation-play-state: running;
    animation-timing-function: ease-out;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 416px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(255, 255, 255);
    clip-rule: nonzero;
    color: rgb(255, 255, 255);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(255, 255, 255);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 416px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 1200px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(255, 255, 255);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 600px 208px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-emphasis-color: rgb(255, 255, 255);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 600px 208px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 1200px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-slide-wrap */ @media (min-width: 1200px) {  
  div.slide-wrap {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 48px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(255, 255, 255);
    clip-rule: nonzero;
    color: rgb(255, 255, 255);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(255, 255, 255);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 48px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 1200px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(255, 255, 255);
    overflow-block: hidden;
    overflow-inline: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    perspective-origin: 600px 24px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-emphasis-color: rgb(255, 255, 255);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform-origin: 600px 24px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 1200px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-slide-up */ @media (min-width: 1200px) {  
  div.slide-up {
    animation-composition: replace;
    animation-delay: 0.2s;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: slideUp;
    animation-play-state: running;
    animation-timing-function: ease-out;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 48px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(255, 255, 255);
    clip-rule: nonzero;
    color: rgb(255, 255, 255);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(255, 255, 255);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 48px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 1200px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(255, 255, 255);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 600px 24px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-emphasis-color: rgb(255, 255, 255);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 600px 24px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 1200px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-cmp-text-and-media */ @media (min-width: 1200px) {  
  div.cmp-text-and-media {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 518px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 0);
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-gap: 56px;
    column-rule-color: rgb(0, 0, 0);
    direction: ltr;
    display: flex;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row-reverse;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    height: 518px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 1200px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 0);
    overflow-block: hidden;
    overflow-inline: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-block-end: 80px;
    padding-block-start: 80px;
    padding-bottom: 80px;
    padding-top: 80px;
    perspective-origin: 600px 259px;
    position: relative;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 0);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform: matrix(1, 0, 0, 1, 0, 100);
    transform-origin: 600px 259px;
    transform-style: flat;
    transition-behavior: normal, normal;
    transition-delay: 0s, 0s;
    transition-duration: 0.6s, 0.6s;
    transition-property: transform, opacity;
    transition-timing-function: ease, ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 1200px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-slide-wrap */ @media (min-width: 1200px) {  
  div.slide-wrap {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 358px;
    border-block-end-color: rgb(28, 38, 51);
    border-block-start-color: rgb(28, 38, 51);
    border-bottom-color: rgb(28, 38, 51);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(28, 38, 51);
    border-inline-start-color: rgb(28, 38, 51);
    border-left-color: rgb(28, 38, 51);
    border-right-color: rgb(28, 38, 51);
    border-top-color: rgb(28, 38, 51);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(28, 38, 51);
    clip-rule: nonzero;
    color: rgb(28, 38, 51);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(28, 38, 51);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 358px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 561px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(28, 38, 51);
    overflow-block: hidden;
    overflow-inline: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    perspective-origin: 280.5px 179px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(28, 38, 51);
    text-decoration-color: rgb(28, 38, 51);
    text-decoration-style: solid;
    text-emphasis-color: rgb(28, 38, 51);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform-origin: 280.5px 179px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 561px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(28, 38, 51);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(28, 38, 51);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-slide-up */ @media (min-width: 1200px) {  
  div.slide-up {
    animation-composition: replace;
    animation-delay: 0.2s;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: slideUp;
    animation-play-state: running;
    animation-timing-function: ease-out;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 358px;
    border-block-end-color: rgb(28, 38, 51);
    border-block-start-color: rgb(28, 38, 51);
    border-bottom-color: rgb(28, 38, 51);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(28, 38, 51);
    border-inline-start-color: rgb(28, 38, 51);
    border-left-color: rgb(28, 38, 51);
    border-right-color: rgb(28, 38, 51);
    border-top-color: rgb(28, 38, 51);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(28, 38, 51);
    clip-rule: nonzero;
    color: rgb(28, 38, 51);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(28, 38, 51);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 358px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 561px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(28, 38, 51);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 280.5px 179px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(28, 38, 51);
    text-decoration-color: rgb(28, 38, 51);
    text-decoration-style: solid;
    text-emphasis-color: rgb(28, 38, 51);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 280.5px 179px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 561px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(28, 38, 51);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(28, 38, 51);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-span.text-and-media-semi-bold */ @media (min-width: 1200px) {  
  span.semi-bold {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    border-block-end-color: rgb(66, 15, 41);
    border-block-start-color: rgb(66, 15, 41);
    border-bottom-color: rgb(66, 15, 41);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(66, 15, 41);
    border-inline-start-color: rgb(66, 15, 41);
    border-left-color: rgb(66, 15, 41);
    border-right-color: rgb(66, 15, 41);
    border-top-color: rgb(66, 15, 41);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(66, 15, 41);
    clip-rule: nonzero;
    color: rgb(66, 15, 41);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(66, 15, 41);
    direction: ltr;
    display: inline;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-extra-wide, "29LT-bukra-variable", sans-serif;
    font-size: 48px;
    font-stretch: 100%;
    font-variant: all-small-caps;
    font-variant-caps: all-small-caps;
    font-weight: 600;
    grid-auto-flow: row;
    hyphens: manual;
    image-orientation: from-image;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 58px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(66, 15, 41);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 0px 0px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(66, 15, 41);
    text-decoration-color: rgb(66, 15, 41);
    text-decoration-style: solid;
    text-emphasis-color: rgb(66, 15, 41);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    text-wrap-mode: wrap;
    transform-origin: 0px 0px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(66, 15, 41);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(66, 15, 41);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-slide-wrap */ @media (min-width: 1200px) {  
  div.slide-wrap {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 174px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 0);
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 0);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 174px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 1200px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 0);
    overflow-block: hidden;
    overflow-inline: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    perspective-origin: 600px 87px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 0);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform-origin: 600px 87px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 1200px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-span.text-and-media-semi-bold */ @media (min-width: 1200px) {  
  span.semi-bold {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    border-block-end-color: rgb(5, 64, 33);
    border-block-start-color: rgb(5, 64, 33);
    border-bottom-color: rgb(5, 64, 33);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(5, 64, 33);
    border-inline-start-color: rgb(5, 64, 33);
    border-left-color: rgb(5, 64, 33);
    border-right-color: rgb(5, 64, 33);
    border-top-color: rgb(5, 64, 33);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(5, 64, 33);
    clip-rule: nonzero;
    color: rgb(5, 64, 33);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(5, 64, 33);
    direction: ltr;
    display: inline;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-extra-wide, "29LT-bukra-variable", sans-serif;
    font-size: 48px;
    font-stretch: 100%;
    font-variant: all-small-caps;
    font-variant-caps: all-small-caps;
    font-weight: 600;
    grid-auto-flow: row;
    hyphens: manual;
    image-orientation: from-image;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 58px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(5, 64, 33);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 0px 0px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(5, 64, 33);
    text-decoration-color: rgb(5, 64, 33);
    text-decoration-style: solid;
    text-emphasis-color: rgb(5, 64, 33);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    text-wrap-mode: wrap;
    transform-origin: 0px 0px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(5, 64, 33);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(5, 64, 33);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-video .text-and-media-apps.text-and-media-qiddiya__002d__commons.text-and-media-components.text-and-media-content.text-and-media-commons.text-and-media-video__002d__v1.text-and-media-v1.text-and-media-video__002d__v1.text-and-media-video__002d__v1__002e__html@1a4b9459 */ @media (min-width: 1200px) {  
  div.video apps.qiddiya__002d__commons.components.content.commons.video__002d__v1.v1.video__002d__v1.video__002d__v1__002e__html@1a4b9459 {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 728px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 0);
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 0);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 728px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 1920px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 0);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 960px 364px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 0);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform-origin: 960px 364px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 1920px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .text-and-media-Computed .text-and-media-styles: .text-and-media-div.text-and-media-scarp */ @media (min-width: 1200px) {  
  div.scarp {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(0, 0, 0);
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(0, 0, 0);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: proxima-nova-wide, "29LT-bukra-variable", sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 1920px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(0, 0, 0);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 960px 0px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: start;
    text-anchor: start;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-emphasis-color: rgb(0, 0, 0);
    text-emphasis-position: over;
    text-overflow: clip;
    text-rendering: optimizelegibility;
    text-wrap-mode: wrap;
    transform-origin: 960px 0px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 1920px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18);
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }